body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.Header-cover{
    border: 1px solid #eee;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
}

.logo img{
     width: 100px;
}

.nav-items ul{
    display: flex;
}
.nav-items ul li{
    list-style-type: none;
    padding: 0 10px;
}